


header{
    background-color: #205691;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    position: relative;
    .imgLogo{
        max-width: 87px;
        max-height: 65.7px;
        width: 100%;
        height: 100%;        
    }
}
.nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 700px;
    width: 100%;
    .Link{
    color: white;
    padding: 5px 20px;
    font-family: 'Source San 3', sans-serif;
    font-size: 22px;
    font-weight: 400;    
}
}
.sadBar{
    display: flex;
    flex-direction: column;
}
.ftuser{
    width: 50px;
    height: 50px;
    border-radius: 50px;
    border: solid 5px #00AAFF;
    cursor: pointer;
}
.navUser{
    position: absolute;
    right: 0;
    top: 5rem;
    background-color: #205691;
    a{
        display: block;
        text-align: end;
        padding: 2px 10px;
        color: white;
    }
}
    
.closedNavUser{
    display: none;
}
@media (max-width: 400px){
    .header .imgLogo{
        max-width: 57px;
    }
}